{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <hr>

    <a href="{% url 'article_create' %}">Добавить новость</a>

    {% if news %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Дата публикации </td>
                <td> Текст новости </td>
                <td> Действия </td>
            </tr>
            {% for post in news %}
                <tr>
                    <td>{{ post.title|censor }}</td>
                    <td>{{ post.date|date:'M d Y' }}</td>
                    <td>{{ post.text|truncatechars:20|censor }}</td>
                    <td>
                        <a href="{% url 'news_edit' post.id %}">Изменить</a>
                        <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нету!</h2>
    {% endif %}

       {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}